body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
}

.div {
  background-color: transparent;

}

#query {
  border: none;
  border-bottom: 3px solid black;
  border-radius: 0;
  background: transparent;
  width: 400px;
  height: 70px;

}

.search-bar {
  padding-top: 5%;

}

#query:hover, #query:active, #query:focus {
  text-decoration: none;
}

.fa-chevron-right {
  font-size: 1.2rem;
  padding-left: 10px;
  color: black;
}

.fa-chevron-right:hover {
  color: white;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 2.5rem;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-size: 1.5rem;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  text-align: center;
  font-size: 1.5rem;
}
